.sidebar {

  width: 250px;

  min-height: 100vh;

  background: #111827;

  padding: 20px;

  overflow-y: auto;
}

.sidebar h2 {
  color: white;
  margin-bottom: 20px;
}

.sidebar-btn {

  width: 100%;

  border: none;

  padding: 12px;

  margin-bottom: 10px;

  border-radius: 10px;

  background: #1e293b;

  color: white;

  cursor: pointer;
}

.sidebar-btn:hover {
  background: #334155;
}

.sidebar-btn.active {
  background: #2563eb;
}